.container{
  border: 1px solid gold;
  width: 100%;
  padding: 10px;
}

.paid{
  color: green;
}

.pending{
  color: yellow;
}

.iconsColor{
  display: block;
  color: rgb(252, 50, 0);
  width: 100px;
  height: 100px;
}